section{
    background-color: #fafafa;
    min-height: 100vh;
}
h1{
    text-align: center;
    margin: 0 !important;
}
h2{
    font-size: 1rem !important;
    font-weight: 500 !important;
    padding: 12px 16px;
    margin: 0 !important;
}
h3{
    font-size: 1.375rem !important;
    color: #80868B;
    padding: 30px 15px;
    font-weight: 400 !important;
}
p{
    font-size: 0.875rem !important;
    font-weight: 400 !important;
    padding: 0px 16px 12px;
    margin: 0 !important;
}
button{
    outline: none !important;
}

.no-notes{
    font-size: 1.375rem !important;
    font-weight: 400 !important;
    color: #80868B;
    margin-top: 20vh !important;
    padding: 0;
    text-align: center;
}

/* Logo Header */
.logo-header{
    margin: auto;
    margin-bottom: 3rem;
    width: fit-content;
    height: 5rem;
}
.logo-header .logo{
    margin: 0 2rem;
    display: inline-block;
    position: relative;
    height: 100%;
    cursor: pointer;
}
.logo-header img{
    height: 100%;
    transition: all 0.2s linear;
}
.logo-header .logo p{
    padding: 0;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    transition: all 0.2s linear;
}
#keep:hover img{
    transform: translateY(-1rem);
}
#vue:hover img{
    transform: translateY(-1rem);
}
#tasks:hover img{
    transform: translateY(-1rem);
}
#keep:hover p{
    opacity: 1;
}
#vue:hover p{
    opacity: 1;
}
#tasks:hover p{
    opacity: 1;
}
.logo-header span{
    vertical-align: middle;
}
@media (max-width: 575.98px) {
    .logo-header{
        margin: auto;
        width: fit-content;
        height: 3rem;
    }
    .logo-header .logo{
        margin: 0 1rem;
        display: inline;
    }
}

/* New Note */
.new-note{
    border: 1px #E0E0E0 solid;
    border-radius: 8px;
    max-width: 600px;
    margin: 30px auto;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
    overflow: hidden;
    background-color: white;
}
.new-note input{
    font-size: 1rem !important;
    font-weight: 500 !important;
    padding: 10px 15px;
    width: 100%;
    border: none;
    outline: none;
}
.new-note textarea{
    font-size: 0.875rem !important;
    font-weight: 400 !important;
    padding: 12px 16px;
    width: 100%;
    height: auto;
    border: none;
    outline: none;
    resize: none;
}
.new-note .nn-footer{
    padding: 12px;
    display: flex;
    justify-content: flex-end;
}
.nn-footer .nn-close-button{
    padding: 8px 24px;
    color: #505558;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    transition: all 0.2s linear;
}
.nn-footer .nn-close-button:hover{
    color: black;
    background-color: #E0E0E0;
}

/* New tasks */
.new-tasks{
    border: 1px #E0E0E0 solid;
    border-radius: 8px;
    max-width: 600px;
    margin: 30px auto;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
    overflow: hidden;
    background-color: white;
}
.new-tasks .title{
    font-size: 1rem !important;
    font-weight: 500 !important;
    padding: 10px 15px;
    width: 100%;
    border: none;
    outline: none;
}
.new-tasks .tasks-wrapper{
    padding: 16px 5px 30px;
    align-items: center;
}
.new-tasks .tasks-wrapper input{
    font-size: 0.875rem !important;
    font-weight: 400 !important;
    display: inline-block;
    border: none;
    outline: none;
    vertical-align: middle;
}
.task .checkbox{
    display: inline-block;
    vertical-align: middle;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
}
.task .checkbox:hover{
    background-color: #fafafc;
}
.checkbox .checkbox-icon{
    border: #80868B 2px solid;
    padding: 6px;
    border-radius: 50%;
}
.checkbox .check{
    height: 1rem;
    width: 1rem;
    font-size: 1rem;
    color: #4285F4;
}
.new-tasks .tasks-wrapper .task-name{
    width: 85%;
    padding: 12px 0;
    border-bottom: #E0E0E0 1px solid;
}
.add-task{
    width: 100%;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.1s linear;
}
.add-task:hover{
    background-color: #f1f3f4;
}
.add-task .add-icon{
    display: inline-block;
    margin: 15px;
    height: 1rem;
    width: 1rem;
    font-size: 1rem;
    color: #4285F4;
    vertical-align: middle;
}
.add-task p{
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    color: #5F6368;
}
.add-task .add-icon .fa{
    position: relative;
    top: -3px;
    left: 1.5px;
}
.new-tasks .nn-footer{
    padding: 12px;
    display: flex;
    justify-content: flex-end;
}
.nn-footer .delete-completed{
    padding: 8px 24px;
    color: #505558;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    transition: all 0.2s linear;
}
.nn-footer .delete-completed:hover{
    color: black;
    background-color: #E0E0E0;
}

/* Notes */
.container{
    padding: 100px 0;
}
.note{
    padding: 8px !important;
    word-wrap: break-word;
}
.note .note-wrapper{
    border: 1px #E0E0E0 solid;
    border-radius: 8px;
    height: 100%;
    transition: all 0.1s linear;
    background-color: white;
}
.note .note-wrapper:hover{
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    cursor: pointer;
}
.note-wrapper button{
    position: absolute;
    top: 12px;
    right: 12px;
    border: none;
    border-radius: 50px;
    color: #505558;
    background-color: transparent;
    transition: all 0.1s linear;
    opacity: 0;
}
.note-wrapper button:hover{
    background-color: #e0e0e080;
}

.note-wrapper .tasks-wrapper p{
    display: inline-block;
    padding: 12px 0;
}
.note-wrapper .tasks-wrapper{
    padding: 0 0 10px 5px !important;
}

/* Modal */
.modal{
    background-color: rgba(229, 229, 229, 0.1);
}
@media (min-width: 576px){
    .modal .modal-dialog {
        max-width: 600px;
        margin: 1.75rem auto;
    }
}
.modal .modal-content{
    border: none;
    border-radius: 8px;
    min-height: 300px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
}
.modal .modal-header{
    padding: 16px 0 0 0;
    border: 0;
}
.modal input{
    font-size: 22px !important;
    font-weight: 400 !important;
    padding: 0 15px 12px;
    width: 100%;
    border: none;
    outline: none;
}
.modal .modal-body{
    padding: 0;
    border: 0;
    position: relative;
}
.modal .modal-body input{
    font-size: 16px !important;
    padding: 12px 0;
    width: 85%;
}
.modal .modal-body .task .task-name{
    border-bottom: #E0E0E0 1px solid;
}
.modal textarea{
    font-size: 16px !important;
    padding: 4px 16px 12px;
    width: 100%;
    min-height: 200px;
    border: none;
    outline: none;
    resize: none;
}
.footer{
    padding: 12px;
    height: auto;
}
.footer button{
    border: none;
    border-radius: 5px;
    background-color: transparent;
    transition: all 0.2s linear;
}
.footer .delete-button{
    color: #80868B;
    padding: 8px 13px;
}
.footer .delete-button:hover{
    color: #505558;
    background-color: #E0E0E0;
}
.footer .delete-completed{
    float: right;
    padding: 8px 24px;
    color: #505558;
}
.footer .delete-completed:hover{
    color: black;
    background-color: #E0E0E0;
}
.footer .close-button{
    float: right;
    padding: 8px 24px;
    color: #505558;
}
.footer .close-button:hover{
    color: black;
    background-color: #E0E0E0;
}