h1{
    text-align: center;
    padding-bottom: 30px;
}
h2{
    font-size: 16px !important;
    font-weight: 600 !important;
    padding: 12px 16px 12px;
    margin: 0 !important;
}
h3{
    font-size: 22px !important;
    color: #80868B;
    padding: 30px 15px;
    font-weight: 400 !important;
}
p{
    font-size: 14px !important;
    padding: 0px 16px 12px;
    margin: 0 !important;
}
button{
    outline: none !important;
}

.container{
    padding: 100px 0;
}
.note{
    padding: 8px !important;
    word-wrap: break-word;
}
.note .note-wrapper{
    border: 1px #E0E0E0 solid;
    border-radius: 8px;
    height: 100%;
}
.note .note-wrapper:hover{
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    cursor: pointer;
}

/* Modal */
.modal{
    background-color: rgba(229, 229, 229, 0.1);
}
@media (min-width: 576px){
    .modal .modal-dialog {
        max-width: 600px;
        margin: 1.75rem auto;
    }
}
.modal .modal-content{
    border: none;
    border-radius: 8px;
    min-height: 300px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
}
.modal .modal-header{
    padding: 16px 0 0 0;
    border: 0;
}
.modal input{
    font-size: 22px !important;
    font-weight: 400 !important;
    padding: 0 15px 12px;
    width: 100%;
    border: none;
    outline: none;
}
.modal .modal-body{
    padding: 0;
    border: 0;
    position: relative;
}
.modal textarea{
    font-size: 16px !important;
    padding: 4px 16px 12px;
    width: 100%;
    min-height: 200px;
    border: none;
    outline: none;
    resize: none;
}